.grid {
    width: 100%;
    height: 100vh;
    background-color: cadetblue;
    display: grid;
    grid-template-columns: 2rem minmax(100px, auto) 2rem;
    grid-template-rows: 4rem minmax(100px, auto) 2rem ;
    grid-template-areas: 
    ". header ."
    ". contenido ."
    ". footer ."
}
